.god-filter {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-components);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 12px 8px;
}

.filters h2 {
  font-family: "Bubbler One", sans-serif;
  margin-bottom: 12px;
}

.god-greek {
  background-color: var(--color-blue);
}
.god-egyptian {
  background-color: var(--color-yellow);
}
.god-nordic {
  background-color: var(--color-green);
}
.god-roman {
  background-color: var(--color-red);
}

.filters label {
  font-family: "Caesar Dressing";
  color: var(--color-background);
  cursor: pointer;
}

.filters .input-wrapper {
  position: relative;
}

.filters .input-wrapper svg {
  position: absolute;
  top: 25%;
  right: 16px;
}

// ---------

.filters input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .label {
  background: var(--color-background);
}

input[type="radio"]:checked + .label.god-greek {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

input[type="radio"]:checked + .label.god-egyptian {
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}

input[type="radio"]:checked + .label.god-nordic {
  color: var(--color-green);
  border: 1px solid var(--color-green);
}

input[type="radio"]:checked + .label.god-roman {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.god-card.hide {
  display: none;
}
