.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav-social {
  flex-direction: row;
}

@media (min-width: 992px) {
  .footer-nav {
    flex-direction: row;
  }
  .menu-desktop ul {
    display: flex;
    font-size: 16px;
    gap: 16px;
  }
  .menu-desktop nav {
    display: inline;
    margin-right: 32px;
  }
}
