.god-day {
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid var(--color-text-main);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0 32px;
}

.god-day h2 {
  font-size: 16px;
}

.god-day h3 {
  font-size: 24px;
}

.god-day div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p.god-attributes {
  font-size: 16px;
}

.god-more {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.god-day a:first-child {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}
