// god-day_________________________________

.god-day {
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid var(--color-text-main);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0 32px;
}

.god-day h2 {
  font-size: 16px;
}

.god-day h3 {
  font-size: 24px;
}

.god-day div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p.god-attributes {
  font-size: 16px;
}

.god-more {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.god-day a:first-child {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

// god-card___________________________

.god {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.god-first-div {
  position: relative;
  z-index: -1;
}

.god-first-div img {
  position: relative;
  right: 35%;
}

.god-save {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
}

.god-first-div h2 {
  background-color: var(--color-background);
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

.god-second-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

.god-second-div div {
  display: flex;
  justify-content: space-between;
}

// article god-card_____________________________

article.god-card {
  border: 2px solid var(--color-text-main);
  border-radius: 8px;
  width: 179px;
  overflow: hidden;
}

article.god-card-greek {
  border-color: var(--color-blue);
}

.god-card-greek h2 {
  color: var(--color-blue);
}

article.god-card-roman {
  border-color: var(--color-red);
}

.god-card-roman h2 {
  color: var(--color-red);
}

article.god-card-egyptian {
  border-color: var(--color-yellow);
}

.god-card-egyptian h2 {
  color: var(--color-yellow);
}

article.god-card-nordic {
  border-color: var(--color-green);
}

.god-card-nordic h2 {
  color: var(--color-green);
}
