* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --color-background: #ffffff;
  --color-background-components: #bcbfc3;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
  --color-yellow: #f8af27;
  --color-blue: #279ef8;
  --color-red: #f82727;
  --color-green: #12965d;
}

// html[data-theme="dark"] {
//   --color-background: #515050;
//   --color-background-components: #696a6c;
//   --color-text-main: #f7f6f6;
//   --text-secondary: #ffffff;
//   --color-yellow: #f7f43e;
//   --color-blue: #a3d7ff;
//   --color-red: #f8a7a7;
//   --color-green: #76e5b5;
// }
