* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --color-background: #ffffff;
  --color-background-components: #bcbfc3;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
  --color-yellow: #f8af27;
  --color-blue: #279ef8;
  --color-red: #f82727;
  --color-green: #12965d;
  // ----------------------------
  scroll-behavior: smooth;
}

html[data-theme="dark"] {
  --color-background: #515050;
  --color-background-components: #696a6c;
  --color-text-main: #f7f6f6;
  --text-secondary: #ffffff;
  --color-yellow: #f7f43e;
  --color-blue: #a3d7ff;
  --color-red: #f8a7a7;
  --color-green: #76e5b5;
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}

body {
  background-color: var(--color-background);
  font-family: "Bubbler One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-main);
}

header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: var(--color-background-components);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header #logo {
  font-family: "Caesar Dressing";
  font-size: 40px;
  color: var(--color-text-secondary);
}

h1,
h2,
h3 {
  font-family: "Caesar Dressing";
}

h1 {
  font-size: 32px;
  color: var(--text-secondary);
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
